In [54]:
#import the python libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import string
nltk.download('stopwords')
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
from gensim.models import Word2Vec
from nltk.stem import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
#load the dataset
df = pd.read_csv("C:/Users/user/OneDrive/Documents/Data Science Projects/NLP projects/Gender Based Violence Tweet Classification/train (3).csv", encoding = "latin")
df

,Tweet_ID,tweet,type
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence
...,...,...,...
39645,ID_ZZTLP2L5,"ENTRY 1299: 21F. 23M, BFâs cousin. Got drunk...",sexual_violence
39646,ID_ZZXB10M6,So youâre telling me Emmanuel Macron was gro...,sexual_violence
39647,ID_ZZY8B7FJ,"My wife regularly beats me, I get dirty slaps ...",Physical_violence
39648,ID_ZZYAFD8L,Me: Hey babe! Police officer boyfriend: is tha...,sexual_violence
39649,ID_ZZZ8QEKT,âI will take accountability if you think itâ...,sexual_violence

In [3]:
df.head()

,Tweet_ID,tweet,type
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence

In [4]:
df.tail()

,Tweet_ID,tweet,type
39645,ID_ZZTLP2L5,"ENTRY 1299: 21F. 23M, BFâs cousin. Got drunk...",sexual_violence
39646,ID_ZZXB10M6,So youâre telling me Emmanuel Macron was gro...,sexual_violence
39647,ID_ZZY8B7FJ,"My wife regularly beats me, I get dirty slaps ...",Physical_violence
39648,ID_ZZYAFD8L,Me: Hey babe! Police officer boyfriend: is tha...,sexual_violence
39649,ID_ZZZ8QEKT,âI will take accountability if you think itâ...,sexual_violence

In [74]:
def preprocess_text(text):
    # Convert text to lowercase
    text = text.lower()
    text = ''.join(char for char in text if char.isalnum() or char.isspace())
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(text)
    porter = PorterStemmer()
    text = [porter.stem(text) for text in text]
    filtered_text = [word for word in word_tokens if word not in stop_words]
    # Join filtered tokens
    text = ' '.join(filtered_text)
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(word) for word in text]

    # Join lemmatized tokens back into text
    preprocessed_text = ' '.join(lemmatized_tokens)
    return text
# Apply preprocessing to the text data
df['Tweet'] = df['tweet'].apply(preprocess_text)
df.head()

,Tweet_ID,tweet,type,Tweet
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence,dream got raped last night guy work actually g...
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence,thought word raped means sex told âi saw dogs ...
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence,talking raped 2 men 1 molested jail nother cha...
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence,sexually abused 3 years age 4 7 one believed r...
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence,chessy prout better telling truth selling owen...

In [75]:
df

,Tweet_ID,tweet,type,Tweet
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence,dream got raped last night guy work actually g...
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence,thought word raped means sex told âi saw dogs ...
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence,talking raped 2 men 1 molested jail nother cha...
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence,sexually abused 3 years age 4 7 one believed r...
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence,chessy prout better telling truth selling owen...
...,...,...,...,...
39645,ID_ZZTLP2L5,"ENTRY 1299: 21F. 23M, BFâs cousin. Got drunk...",sexual_violence,entry 1299 21f 23m bfâs cousin got drunk hallo...
39646,ID_ZZXB10M6,So youâre telling me Emmanuel Macron was gro...,sexual_violence,youâre telling emmanuel macron groomed maybe e...
39647,ID_ZZY8B7FJ,"My wife regularly beats me, I get dirty slaps ...",Physical_violence,wife regularly beats get dirty slaps â husband...
39648,ID_ZZYAFD8L,Me: Hey babe! Police officer boyfriend: is tha...,sexual_violence,hey babe police officer boyfriend meyes babe g...
39649,ID_ZZZ8QEKT,âI will take accountability if you think itâ...,sexual_violence,âi take accountability think itâs ok live tenn...

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [77]:
vectorizer = TfidfVectorizer(max_features=1000)

In [78]:
X = df['Tweet']
y = df['type']

In [79]:
#X_train, X_test, y_train, y_test = train_test_split(X, df['type'], test_size = 0.2, random_state = 42)

In [80]:
#X_train = vectorizer.fit_transform(X_train)
#X_test = vectorizer.transform(X_test)

In [81]:
X_tr = vectorizer.fit_transform(X)
y

0          sexual_violence
1          sexual_violence
2          sexual_violence
3          sexual_violence
4          sexual_violence
               ...
39645      sexual_violence
39646      sexual_violence
39647    Physical_violence
39648      sexual_violence
39649      sexual_violence
Name: type, Length: 39650, dtype: object

GRADIENT BOOSTING CLASSIFIER

In [82]:
gbm_classifier = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
gbm_classifier.fit(X_tr, y)

GradientBoostingClassifier(random_state=42)

In [83]:
y_val_pred = gbm_classifier.predict(X_tr)
accuracy_score(y, y_val_pred)

0.9998991172761664

SUPPORT VECTOR MACHINE

In [76]:
svm_classifier = SVC(kernel='linear') 
svm_classifier.fit(X_tr, y)

SVC(kernel='linear')

In [48]:
y_pred = svm_classifier.predict(X_tr)
y_pred

array(['sexual_violence', 'sexual_violence', 'sexual_violence', ...,
       'Physical_violence', 'sexual_violence', 'sexual_violence'],
      dtype=object)

In [49]:
accuracy_score(y, y_pred)

0.9985372005044136

LOGISTIC REGRESSION

In [50]:
model = LogisticRegression()
model.fit(X_tr, y)

LogisticRegression()

In [51]:
y_predlog = model.predict(X_tr)
y_predlog

array(['sexual_violence', 'sexual_violence', 'sexual_violence', ...,
       'Physical_violence', 'sexual_violence', 'sexual_violence'],
      dtype=object)

In [52]:
accuracy_score(y, y_predlog)

0.9966456494325346

In [25]:
fd = pd.read_csv("C:/Users/user/OneDrive/Documents/Data Science Projects/NLP projects/Gender Based Violence Tweet Classification/Test (3).csv", encoding = "latin")
fd

          Tweet_ID                                              tweet
0      ID_0095QL4S  because he was my boyfriend, and if I said no,...
1      ID_00DREW5O  lol no, I'm telling you it's not legal. It's l...
2      ID_00E9F5X9  Somalia's semi-autonomous Puntland region has ...
3      ID_00G9OSKZ  University of Cape Coast students being robbed...
4      ID_00HU96U6  "Somebody came up behind him and stabbed him i...
...            ...                                                ...
15576  ID_ZZR1D21T  A Teesside charity has filed a âsuper compla...
15577  ID_ZZSQF54Y             he ... forced me to have sex with him.
15578  ID_ZZTN5126  Female student of medical university raped at ...
15579  ID_ZZWS0XZZ  Bokamoso Mpembe (20 months) (Kidnapped and kil...
15580  ID_ZZZE5A5Q  Confession: Never Really Over reminds me of my...

[15581 rows x 2 columns]

In [26]:
def preprocess(text):
    # Convert text to lowercase
    text = text.lower()
    text = ''.join(char for char in text if char.isalnum() or char.isspace())
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(text)
    filtered_text = [word for word in word_tokens if word not in stop_words]
    # Join filtered tokens
    text = ' '.join(filtered_text)
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(word) for word in text]

    # Join lemmatized tokens back into text
    preprocessed_text = ' '.join(lemmatized_tokens)
    return text
# Apply preprocessing to the text data
fd['Tweet'] = fd['tweet'].apply(preprocess_text)
fd.head()

,Tweet_ID,tweet,Tweet
0,ID_0095QL4S,"because he was my boyfriend, and if I said no,...",boyfriend said would get mad hated sex forced ...
1,ID_00DREW5O,"lol no, I'm telling you it's not legal. It's l...",lol im telling legal literally crime conversat...
2,ID_00E9F5X9,Somalia's semi-autonomous Puntland region has ...,somalias semiautonomous puntland region taken ...
3,ID_00G9OSKZ,University of Cape Coast students being robbed...,university cape coast students robbed raped ar...
4,ID_00HU96U6,"""Somebody came up behind him and stabbed him i...",somebody came behind stabbed back really long ...

In [27]:
vectorizer = TfidfVectorizer(max_features=1000)

In [28]:
X = fd['Tweet']
X_new = vectorizer.fit_transform(X)

In [32]:
#y_pre = svm_classifier.predict(X_new)
#y_pre

In [ ]:
#y_prelog = model.predict(X_new)
#y_prelog

In [52]:
y_val = gbm_classifier.predict(X_new)
y_val

array(['sexual_violence', 'sexual_violence', 'sexual_violence', ...,
       'sexual_violence', 'sexual_violence', 'sexual_violence'],
      dtype=object)

In [ ]:
#submission_df = pd.DataFrame({'Tweet_ID': fd['Tweet_ID'], 'type': y_pre})

# Define the CSV file path
#csv_file_path = "C:/Users/user/OneDrive/Documents/Data Science Projects/NLP projects/Gender Based Violence Tweet Classification/My_submission2.csv"

# Write the DataFrame to a CSV file
#submission_df.to_csv(csv_file_path, index=False)

#print("Submission file has been saved to", csv_file_path)

In [53]:
submission_df = pd.DataFrame({'Tweet_ID': fd['Tweet_ID'], 'type': y_val})

# Define the CSV file path
csv_file_path = "C:/Users/user/OneDrive/Documents/Data Science Projects/NLP projects/Gender Based Violence Tweet Classification/My_submission_gb.csv"

# Write the DataFrame to a CSV file
submission_df.to_csv(csv_file_path, index=False)

print("Submission file has been saved to", csv_file_path)

Submission file has been saved to C:/Users/user/OneDrive/Documents/Data Science Projects/NLP projects/Gender Based Violence Tweet Classification/My_submission_gb.csv